<div class="contact-details" *ngIf="selectedContact">
  <div class="header">
    <div class="custom-avatar">
      {{ selectedContact.name.charAt(0) }}
    </div>
    <div class="header-actions">
      <button mat-icon-button class="edit-button" (click)="triggerEditContact(selectedContact)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="delete-button" (click)="openDeleteDialog()">
        <mat-icon>delete</mat-icon>
      </button>

      <div class="favorite-button">
        <button mat-icon-button class="star-button" (click)="toggleFavorite()">
          <mat-icon *ngIf="selectedContact?.isFavorite; else notFavorite">star</mat-icon>
          <ng-template #notFavorite><mat-icon>star_border</mat-icon></ng-template>
        </button>
      </div>
    </div>
  </div>
  <div class="title-name">
    <h2>{{ selectedContact.name }}</h2>
  </div>

  <div class="contact-info">
    <mat-icon class="contact-icon">phone</mat-icon>
    <span class="contact-text">{{ selectedContact.phoneNumber }}</span>
  </div>
  <div class="contact-info">
    <mat-icon class="contact-icon">location_on</mat-icon>
    <span class="contact-text">{{ selectedContact.address }}</span>
  </div>

  <div class="action-buttons">
    <button mat-icon-button>
      <mat-icon>call</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>message</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>video_call</mat-icon>
    </button>
  </div>
</div>

<div class="custom-dialog" *ngIf="showDeleteDialog">
  <div class="dialog-overlay" (click)="closeDeleteDialog()"></div>
  <div class="dialog-content">
    <h3>Confirm Delete</h3>
    <p>Are you sure you want to delete this contact?</p>
    <div class="dialog-actions">
      <button (click)="closeDeleteDialog()">No</button>
      <button (click)="confirmDelete()">Yes</button>
    </div>
  </div>
</div>