<div class="contact-list-container">
  <h3>Displayed All Contacts</h3>
  <div class="search-container">
    <div class="search-bar">
      <mat-icon class="search-icon">search</mat-icon>
      <!-- Bind the search input to a variable 'searchTerm' -->
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" />
    </div>
    <button *ngIf="!deleteMode" class="delete-icon" mat-icon-button matSuffix (click)="enterDeleteMode()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <div *ngIf="deleteMode" class="action-buttons">
      <button class="delete-icon" mat-icon-button matSuffix [disabled]="!selectedContactsForDelete.size"
        (click)="deleteContacts()">
        <mat-icon>delete</mat-icon>
      </button>
      <button class="close-icon" mat-icon-button matSuffix (click)="exitDeleteMode()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <!-- Scrollable container that wraps all contact groups -->
  <div class="scroll-container">
    <!-- Filter contacts based on search term -->
    <div class="contact-group" *ngFor="let group of filteredContacts() | groupBy: 'name'">
      <div class="group-letter">{{ group.key }}</div>
      <ul>
        <div *ngFor="let contact of group.contacts" (click)="selectContact(contact)">
          <li [class.contact-selected]="isSelectedForDisplay(contact)">
            <div class="contact-info">
              <input type="checkbox" class="checkbox" *ngIf="deleteMode" [checked]="isSelectedForDelete(contact.id)"
                (click)="toggleDeleteSelection(contact.id)" />
              <!-- Show checkbox in delete mode -->
              <div class="custom-avatar">
                {{ contact.name.charAt(0) }}
              </div>
              <span class="contact-name">{{ contact.name }}</span>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
